<!DOCTYPE html>
<html>
<head>
    <title>Olympic Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <nav>
        <h2>Olympic Dashboard</h2>
        <a href="/">Home</a> |
        <a href="/dashboard/analytic">Analytical</a> |
        <a href="/dashboard/tactical">Tactical</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
